.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess


index.php
README.txt

application/config/config.php
application/config/database.php
application/controller/C_Contact.php
.gitignore
